* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-bar {
    background-color: #FFFFFF;
    display: flex;
    /* justify-content: space-between; */
    text-align: center;
    padding: 10px 60px;
    position: sticky;
    top: 0;
}

.nav-bar img {
    width: 120px;
}

.nav-link li {
    display: inline-block;
    padding: 10px 20px;
    gap: 20px;
    font-size: 20px;
    padding-left: 50px;
    padding-top: 15px;
}

.nav-link li a {
    color: #231162;
    text-decoration: none;
}

.background {
    background-image: url(./image/imgi_3_indexBanner.dd8ae3e.jpg);
    /* width: 100%; */
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.background-text {
    padding: 100px 60px;
}

.background-text h1 {
    font-size: 56px;
    color: #FFFFFF;
}

.background-text p {
    color: #261664;
    font-size: 20px;
    padding-top: 10px;
    line-height: 35px;
}

.background-text img {
    width: 450px;
    padding-top: 20px;
}

.default-img {
    display: flex;
    gap: 30px;
}

.default-img a img {
    width: 100px;
}

.h2 {
    font-size: 29px;
    color: #210F60;
    padding: 20px 60px;
}

.section-1 {
    background-color: #1DC99B;
}

.text-1 {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 40px 60px;
    gap: 20px;
}

.text-1 img {
    width: 690px;
    padding-left: 150px;
}

.text-2 {
    padding-bottom: 80px;
    padding-top: 90px;
}

.text-2 h3 {
    color: #FFFFFF;
    font-size: 38px;
    font-weight: 900;
}

.text-2 p {
    padding-top: 20px;
    color: #FFFFFF;
    font-size: 22px;
    line-height: 35px;
}

.section-2 {
    background-color: #F4FCFA;
}

.text-3 {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 30px 60px;
    gap: 70px;
}

.text-3 img {
    width: 590px;
}

.text-4 {
    padding-bottom: 80px;
    padding-top: 90px;
}

.text-4 h3 {
    font-size: 38px;
    font-weight: 900;
    color: #1DC99B;
}

.text-4 p {
    padding-top: 20px;
    color: #221161;
    font-size: 22px;
    line-height: 35px;
}

.section-3 {
    background-color: #EDEDED;
}

.text-5 {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 90px 60px;
}

.text-5 video {
    width: 700px;
    border: none;
    border-radius: 10px;
}

.text-6 img {
    width: 170px;
    padding-bottom: 30px;
}

.text-6 p {
    font-size: 28px;
    color: #210F60;
    padding-bottom: 10px;
}

.text-6 p a {
    color: #1DCF9F;
    text-decoration: none;
}

.section-4 {
    padding: 30px 60px;
}

.section-4 span {
    font-size: 52px;
    color: #210F60;
    font-weight: 800;
    padding-bottom: 20px;
}

.text-8 {
    padding-top: 40px;
}

.text-8 img {
    width: 300px;
    border-radius: 40px;
}

.text-8 p {
    color: #909CA7;
    font-size: 15px;
    line-height: 20px;
}

.text-8 small {
    font-size: 9px;
    color: darkmagenta;
}

.text-7 {
    display: flex;
    overflow: scroll;
    gap: 100px;
    scrollbar-width: none;
    width: 100%;
    align-items: center;
    margin: auto;
}

.section-5 {
    background-color: #1DC99B;
}

.images img {
    width: 600px;
}

.text-9 {
    display: flex;
    padding: 40px 60px;
}

.text-10 h2 {
    font-size: 52px;
    color: #210F60;
    line-height: 70px;
}

.text-10 h3 {
    font-size: 30px;
    color: white;
    padding-bottom: 20px;
}

.text-10 p {
    font-size: 18px;
    color: white;
    line-height: 30px;
}

.section-6 {
    background-color: #F8FBFF;
}

.text-11 {
    display: flex;
    padding: 40px 60px;
}

.text-13 video {
    width: 400px;
    /* height: 300px; */
}

.text-12 h2 {
    color: #210F60;
    font-size: 42px;
    font-weight: 600;
    line-height: 70px;
    padding-top: 30px;
}

.text-12 p {
    color: #261464;
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
}

.text-14 p img {
    width: 13px;
}

.text-14 p {
    font-size: 14px;
}

.section-7 {
    background-color: #25C698;
}

.text-15 {
    display: flex;
    padding: 30px 60px;
    gap: 50px;
}

.text-16 p {
    font-size: 12px;
    color: white;
    padding-bottom: 20px;
}

.text-16 ul li a {
    font-size: 10px;
    font-weight: 900;
    color: white;
    text-decoration: none;
    line-height: 30px;
}

.text-16 ul {
    list-style: none;
}

.text-17 p {
    color: white;
    font-size: 12px;
    line-height: 20px;
}

.text-17 a {
    text-decoration: none;
    color: white;
}

.text-18 {
    background-color: #25C698;
    padding: 10px 60px;
}

.text-18 p {
    color: white;
    font-size: 12px;
    line-height: 30px;
}

.section-8 {
    background-color: #D2F5EC;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 60px;
    gap: 50vh;
}

.text-19 img {
    width: 80px;
}